# Session
USE_DEFAULT_SESSION = 1

# MySQL Database
DB_HOSTNAME='localhost'
DB_USERNAME='homestead'
DB_PASSWORD='secret'
DB_NAME='docs'

# ElasticSearch
ELASTIC_HOSTNAME='host'
ELASTIC_PORT=443
ELASTIC_SCHEME='https'
ELASTIC_USERNAME='usr'
ELASTIC_PASSWORD='pwd'

# FileStack
FILESTACK_APIKEY='zzzz'