/* =================================
 * Header
 * ================================= */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .8;
}
.loading-image {
    max-height: 128px;
    max-width: 128px;
}

/* =================================
 * Navigation
 * ================================= */
nav span.logged-user {
    font-size: 0.6em;
    font-weight: bold;
}

/* =================================
 * Common Pages
 * ================================= */
.content-wrapper {
    padding-top: 70px;
}
.error-messages {
    color: #f00;
    background-color: #FAEBEB;
    border: 1px solid #f00;
}
.result {
    color: #0f0;
    background-color: #F0FFFF;
    border: 1px solid #0f0;
}
.error-messages div,
.result div {
    word-break: break-all;
}
.error-messages ul li,
.result ul li {
    display: inline-block;
}

/* =================================
 * Admin
 * ================================= */
.admin-item-wrapper {
    border: 1px solid black;
    background-color: #F8F9FA;
    height: 100%;
}
.admin-item-wrapper h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
}
.admin-item-icon {
    text-align: center;
}
.admin-item-buttons {
    text-align: center;
}

/* =================================
 * Home
 * ================================= */
.home-item-wrapper {
    border: 1px solid black;
    background-color: #F8F9FA;
    height: 100%;
}
.home-item-wrapper h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0;
}
.home-item-buttons {
    text-align: center;
}
span.label-info {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 4px;
}
.metadata-title {
    font-size: 1.4em;
    font-weight: bold;
}
i#add_row_metadata,
.metadata-icons i {
    cursor: pointer;
}
#document_metadata thead tr th,
#document_metadata tbody tr td {
    padding: .4em;
}