/* =================================
 * Login
 * ================================= */
.error-messages {
    color: #f00;
    background-color: #FAEBEB;
    border: 1px solid #f00;
}
.error-messages ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

/* =================================
 * Navigation
 * ================================= */
nav span.logged-user {
    font-size: 0.6em;
    font-weight: bold;
}

/* =================================
 * Common Pages
 * ================================= */
.content-wrapper {
    padding-top: 70px;
}

/* =================================
 * Admin
 * ================================= */
.admin-item-wrapper {
    border: 1px solid black;
    background-color: #F8F9FA;
}
.admin-item-wrapper h3 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.admin-item-icon {
    text-align: center;
}
.admin-item-params-buttons {
    text-align: center;
}
